html,
body,
#root,
.App {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Header {
    height: 50px;

}

.Content {
    height: calc(100vh - 120px);
    overflow: hidden;
}

.Menu {
    height: 100%;
    width: 300px;
    overflow-y: auto;
}

.Footer {
    height: 70px;
    position: relative;

}

.AudioPlayer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}


.Footer>.Timestamp {
    margin: 0;
    top: -.5em;
    width: 100vw;
    position: absolute;
}
.Menu .ant-menu-item{
    height: 50px;
}
.AlbumName>div:last-child{
    font-size: .8em;
    opacity: .7;
}

.AlbumName>div{
    text-overflow: ellipsis;
    white-space: nowarp;
}