@font-face {
    font-family: "Neutralizer";
    src: url("./Static/Fonts/Neutralizer.ttf");
}

@font-face {
    font-family: "StarRailEn";
    src: url("./Static/Fonts/DINNextW1G-Light.otf");
    font-weight: 100;
}

@font-face {
    font-family: "StarRailEn";
    src: url("./Static/Fonts/DINNextW1G-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "StarRailEn";
    src: url("./Static/Fonts/DINNextW1G-Medium.otf");
    font-weight: 700;
}

@font-face {
    font-family: "StarRailCn";
    src: url("./Static/Fonts/DreamHanSans-W9.ttc");
    font-weight: 100;
}

@font-face {
    font-family: "StarRailCn";
    src: url("./Static/Fonts/DreamHanSans-W16.ttc");
    font-weight: 400;
}

@font-face {
    font-family: "StarRailCn";
    src: url("./Static/Fonts/DreamHanSans-W23.ttc");
    font-weight: 700;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.ant-btn-primary {
    box-shadow: none;
}

*:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #d1d1d1 #ffffff;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 10px;
    border: 3px solid #ffffff;
}